
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/


.home-div1 {
/*    position: absolute;
    top: 150px;
    left: 150px;
    right: 150px;

    z-index: 50;
    */
    margin: -80px 0px 0px 0px;
}


.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.home-titulo {
    font-family: "Segoe Ui";
    font-weight: bold;
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 0px white;
    margin: 0px 0px 20px 0px;
}

.home-subtitulo {
    font-family: "Segoe Ui";
    font-weight: bold;
    font-size: 18px;
    color: white;
    -webkit-text-stroke: 0px white;
    margin: 30px 0px 30px 0px;
}

.home-paragrafo {
    font-family: "Open Sans";
    font-size: 14px;
    color: white;
    -webkit-text-stroke: 0px white;
    text-align: justify;
}

.btn-agende {
    background-color:#ffffff;
    border-radius:28px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color: rgb(43, 172, 229); /*#666666*/
    font-family:"Segoe UI";
    font-weight: Bold;
    font-size: 15px;
    padding:16px 50px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin-top: 10px;
}
.btn-agende:hover {
    background-color:#d6d4d4;
}
.btn-agende:active {
    position:relative;
    top:1px;
}


.home-filter {
    z-index: 0;  
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    backdrop-filter:  blur(1px);
    background-color: rgba(118, 171, 213, 0.5) ; 
}

.home-filter-container {
    z-index: 10;
    margin-top: 140px;
}

.home-filter-img {
    background-image: url('../img/cnh_2-Recovered.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    background-position: center;
    background-position-x: -150px;
    background-size: 900px 600px;
}

.quemsomos {
    background-image: url('../img/undraw_by_my_car_ttge.svg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    height: 100vh;
    position: relative;
    background-position: center;
    /*background-position-x: 0px;*/
    background-size: 900px 600px;
    margin-top: 50px;
}


.quemsomos-filter {
    z-index: 0;  
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    backdrop-filter:  blur(1px);
    background-color: rgba(255, 255, 255, 0.637) ; 
}


.quemsomos-filter-container {
    z-index: 10;
    margin-top: 140px;
}

.alinhament {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.div-quemsomos {

    margin-top: 0px;
    margin-bottom: 150px;
}


.quemsomos-h1 {
    font-family: "Segoe Ui";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: rgb(27, 145, 193);
    margin: 0px 0px 50px 0px;
    -webkit-text-stroke-width: 2px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */

}

.quemsomos-paragrafo {
    font-family: "Open Sans";
    font-weight: 600;
    text-align: center;
    font-size: 15px;
}


.quemsomos-paragrafo-destaque {
    color: rgb(44, 173, 230);
    font-family: "Segoe Ui";
    -webkit-text-stroke-width: 0.1px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
}

div {
    border-width: 15px;
    border-color: red;
}


.img-home {
    max-width: 100%;
    height: auto;
}

.alinhamento {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media (min-width: 600px){
    /*tablet*/        
    .home-titulo {
        font-family: "Segoe Ui";
        font-weight: bold;
        font-size: 50px;
        color: white;
        -webkit-text-stroke: 0px white;
        margin: 0px 0px 15px 0px;
    }

    .home-subtitulo {
        font-family: "Segoe Ui";
        font-weight: bold;
        font-size: 20px;
        color: white;
        -webkit-text-stroke: 0px white;
        margin: 10px 0px 10px 0px;
    }

    .home-paragrafo {
        font-family: "Open Sans";
        font-size: 19px;
        color: white;
        -webkit-text-stroke: 0px white;
        text-align: justify;
        margin: 0px 0px 10px 0px;
    }


    .btn-agende {
        background-color:#ffffff;
        border-radius:28px;
        border:1px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color: rgb(43, 172, 229); /*#666666*/
        font-family:"Segoe UI";
        font-weight: Bold;
        font-size: 25px;
        padding:20px 60px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
    }

    .home-filter-img {
        background-image: url('../img/cnh_2-Recovered.jpg');
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        position: relative;
        background-position: center;
        background-position-x: 0px;
    }


    
    .quemsomos-h1 {
        font-family: "Segoe Ui";
        font-weight: bold;
        font-size: 48px;
        text-align: center;
        color: rgb(27, 145, 193);

    }

    .quemsomos-paragrafo {
        font-family: "Open Sans";
        font-weight: 600;
        text-align: center;
        font-size: 25px;
    }

    /*
    .div-quemsomos {

       margin-top: 220px;
        margin-bottom: 250px;
    }
    */
}